<section>
  <div class="container-fluid feature-product">
       <div class="row mt-5 ">
          <div class="col-md-12">
              <div class="heading text-center">
                  <h2>{{ section.settings.title }}</h2>
              </div>
              <p>{{ section.settings.description }}</p>
          </div>  
       </div>   
      <div class="row">
          <div class="col-md-12">
              <div class="feature_slides">
                
              {%- for product in section.settings.collection.products limit: 12 -%}
                    <div class="slide">
                          <div class="slide-image">
                              <img src="images/p1.jpg" class="img-fluid"/>
                          </div>
                          <div class="slide-content">
                              <h4>Morgan Cameron, Spotted in the Rocks</h4>
                          </div>
                     </div>
               {%- endfor -%}      
              </div>
          </div>
      </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    } 
  ]
}
{% endschema %}
