
<footer class="footer mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-2">
               <div class="footer-logo">   
                 <img src="{{ settings.logo | image_url }}" class="w-100"/>
               </div>
               <div class="footer-social-link">
                  <ul>
                      <li>
                          <a>
                              <img src="{{ "facebook.png" | asset_url }}" />
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="{{ "instagram.png" | asset_url }}" />
                          </a>
                      </li>
                      <li>
                          <a>
                              <img src="{{ "youtube.png" | asset_url }}" />
                          </a>
                      </li>
                  </ul>
               </div>
          </div>
          <div class="col-md-3">
              
          </div>
          <div class="col-md-2 links">
              <h4>Quick</h4>
              <ul>
                  <li><a>Home</a></li>
                  <li><a>Shop Now</a></li>
                  <li><a>Reviews</a></li>
                  <li><a>Customize Your Own</a></li>
                  <li><a>FAQ’s</a></li>
              </ul>
          </div>
          <div class="col-md-2 links">
<!--               <h4>Need help?</h4>
              <ul>
                  <li><a>Search</a></li>
                  <li><a>Terms of Service</a></li>
                  <li><a>Privacy Policy</a></li>
                  <li><a>Refund Policy</a></li>
                  <li><a>My Account</a></li>
               </ul> -->
          </div>
          <div class="col-md-2">
             <div class="contact"> 
               <h4>Get in Touch</h4>
               <p><a>Contact Us</a></p>
              </div>
              
          </div>
      </div>
      
      <div class="row">
        <p class="copy-right">Copyright 2022 Mossgalleries | All rights reserved</p>   
      </div>
  </div>
</footer>
{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type" : "url",
      "id" : "fb",
      "label" : "Facebook"
    },
    {
      "type" : "url",
      "id" : "insta",
      "label" : "Instagram"
    },
    {
      "type" : "url",
      "id" : "youtube",
      "label" : "Instagram"
    }
  ]
}
{% endschema %}
