<section>
    <div class="container-fluid p-0 inner_banner" style="background:url('{{ section.settings.image }}');">
          <div class="banner-content"> 
              <h1>{{ section.settings.title | escape }}</h1>
          </div>
    </div>
</section>

{% schema %}
  {
    "name": "inner_banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "About Side Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "WORKS OF ABSTRACT EXPRESSIONIST ARTIST LYNNE MAPP DREXLER AT MOSS GALLERIES",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
    ],
    "presets": [
    {
      "name": "inner_banner"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}