<style>
  .gradient {
  background:url("//cdn.shopify.com/s/files/1/0720/4546/1822/files/2016-09-20-leandra-neh-web-jeff-roberts-imaging-4.webp?v=1677382972");
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
  section#shopify-section-template--18053086904638__a6cfd69b-50c6-4dce-9908-ea8fabdf6696 {
    margin-top: 300px;
    /* background: black; */
}
.artists .artist-name {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}
.artists .artist-name:hover {
  color:#000;
}

</style>
<section class="artists h-100">
    <div class="container"> 
          <div class="row">
            
            {%- for block in section.blocks -%}
              <div class="col-md-4 p-3 pt-0 text-center">
                  <a class="text-white artist-name" bg-src="{{ block.settings.image | image_url }}" href="{{ block.settings.url }}">{{ block.settings.heading }}</a>
              </div>
             {% endfor %}
          </div>
    </div>
</section>

{% schema %}
{
  "name": "Artists",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "blocks": [
    {
      "type": "Artist",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Haading"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Banner url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Artists",
      "blocks": [
        {
          "type": "Artist"
        }
      ]
    }
  ]
}
{% endschema %}
