<section>
    <div class="container about">
         <div class="row">
            <div class="col-md-6 about-image">
                <img src="{{ section.settings.image | image_url }}" class="img-fluid"/>
            </div>
            <div class="col-md-6 content d-flex flex-wrap align-content-center">
                <h2>{{ section.settings.title | escape }}</h2>
                {{ section.settings.description }}
                <a class="btn btn-lg btn-dark">Inquire</a>
            </div>
         </div>   
</section>


{% schema %}
{
  "name": "About",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "About Side Image"
    },
    {
      "type": "text",
      "id": "title",
      "default": "WORKS OF ABSTRACT EXPRESSIONIST ARTIST LYNNE MAPP DREXLER AT MOSS GALLERIES",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}