<div class="container-fluid p-0">
    
</div>
{% schema %}
{
  "name": "Slider Grid",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Slide",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Banner url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Grid",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}