<section>
    <div class="container product-grid">
         <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <div class="heading">
                    <h2>{{ section.settings.title }}</h2>
                    <p>{{ section.settings.description }}</p>
                </div>
            </div>  
         </div>   
        <div class="row">
             {%- for product in section.settings.collection.products limit: 12 -%}
                <div class="col-md-4 mb-5">
                     {% render 'card-product',
                          card_product: product,
                          media_aspect_ratio: section.settings.image_ratio,
                          show_secondary_image: section.settings.show_secondary_image,
                          show_vendor: section.settings.show_vendor,
                          show_rating: section.settings.show_rating,
                          show_quick_add: section.settings.enable_quick_add,
                          section_id: section.id
                      %}
                </div>
           {%- endfor -%}  
           
        </div>
    </div>
</section>



{% schema %}
{
  "name": "Upcoming Exibitions",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Upcoming Exibitions Collection",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Product Collection"
    } 
  ]
}
{% endschema %}