@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');


html,body{
  height: 100%;
  width: auto;
  color: rgb(0, 0, 0) !important;
  font-family: "Cinzel",Serif;
}
:root{
  --bs-dark: #212529;
}
/* h4
{
  font-size: 27px;
}
p{
  font-size: 23px;
} */


.gold
{
  background: linear-gradient(180deg, #E7C817 0%, rgba(171, 148, 18, 0.65) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gold-button
{
  background: linear-gradient(180deg, #E7C817 0%, rgba(171, 148, 18, 0.65) 100%);
  /* color: #000; */
  padding: 10px 30px 10px 30px;
  text-decoration: none !important;
  border-radius: 20px;
  font-weight: bold !important;
}
.gold-button2
{
  background: linear-gradient(180deg, #E7C817 0%, rgba(225, 223, 215, 0.65) 100%);
  /* color: #000; */
  padding: 10px 30px 10px 30px;
  text-decoration: none !important;
  border-radius: 20px;
  font-weight: bold;
}






/* NavBar */

.hide{
  display:none;
}

nav {
  z-index: 10;
}
nav .navbar-brand img{
  width: 40%;
}

.button_container {
  position: relative;
  top: 17px;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #000000;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;
}
.overlay:before {
  content: "";
  background: #000000;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: left 0.35s ease;
}
.overlay:after {
  content: "";
  background:#1a1515;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: all 0.35s ease;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}


.overlay nav {
     position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 34px;
    /* font-family: Vollkorn,serif; */
    font-family: "Cinzel",Serif;
    font-weight: 400;
    text-align: center;
    z-index: 100;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  /* height: 100%; */
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/* Banner section */
  .banner {
    overflow: hidden;
  }


  .banner .slide
  {
  background: url("../images/banner-image.png");
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  /* background: #000; */
  }
  .banner .slide_arrow {
    margin-top: -100px;
    position: absolute;
    left: 90%;
}

.banner .slide_arrow span {
  color: #fff !important;
  font-size: 40px;
  cursor: pointer;
}
/* Banner Section End  */

/* Product Grid */
.exibition-grid .ratio {
    display: block;
}
.exibition-grid .heading h2 {
    font-size: 24px;
    font-weight: 500;
}


.exibition-grid .card {
  border: 0;
}


.exibition-grid .card img {
    position: unset;
    width: 80%;
    align-content: center;
}

/* end product Grid*/



/* about */

.about .content h2 {
  font-size: 2.7em;
  line-height: 3.4rem;
  font-weight: 400;
}


.about .content p {
  font-size: 1.0em;
  line-height: 2.2rem;
  font-weight: 600;
}
.about .about-image img
{
  height: 600px;
}



/* End About */

/* feature Content */

.feature-product {
  overflow: hidden;
}


.feature-product .heading h2 {
    font-size: 24px;
    font-weight: 500;
}
.feature-product .slide .slide-content h4 {
  font-size: 17px;
  text-align: center;
}

.feature-product .slide .card.card--standard.card--media {
    border: none;
}

.feature-product .slide  .card__heading {
    display: none;
}
.feature-product .slide .card__media img {
    position: unset;
    width: 80%;
    align-content: center;
}
.feature-product .card__media {
    background: #fff
}
/* End feature Content */


.footer {
  background: #ffffff;
  padding: 100px 0 40px 0;
  color: #010101;
}

.footer-social-link ul {
  list-style: none;
  /* display: none; */
  display: inline-flex;
  padding: 0;
  margin-top: 29px;
}

.footer-social-link ul li {
  padding-left: 10px;
}

.footer .links ul {
  list-style: none;
  padding: 0;
}
.copy-right {
  font-size: 23px;
  font-weight: 600;
}

.theme-dark {
  background: #000;
  color: #fff !important;
}

.theme-dark .search-input input {
  background: transparent !important;
  color: #fff;
  border-bottom: #fff 1px solid;
}

.theme-dark a {
  color: #fff !important;
}
.theme-dark .button_container .top , .theme-dark .button_container .middle , .theme-dark .button_container .bottom  {
  background:#fff
}
.theme-dark .card {
  color: #000 !important;
}



.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.theme-container:hover {
  opacity: 0.8;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 0px 0px 23px #1a1d20, 1px 1px 23px #282d32, inset 5px 5px 4px #1e2226, inset -2px -1px 0px #24282c;
} 

.shadow-light {
  background: #fff;
  box-shadow: 1px 1px 15px -10px #bbcfda, 0px -1px 13px #ffffff, inset 1px 1px 3px rgb(243 243 243 / 35%), inset 1px -1px 3px rgb(255 255 255 / 30%);
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}


/* News Blogs */
.news-blogs .card {
    border: none !important;
}

.news-blogs .card a:hover {
    color: #000 !important;
}




